<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5">
        <h2> Search for a city</h2>
        <app-autocomplete></app-autocomplete>
    </div>
    <div class="col-sm float-start">
        <button type="button" (click)="logout()" class="btn btn-outline-dark float-end">Logout</button>
    </div>
</div>

<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm text-center">
        <button class="btn btn-primary m-5" (click)="previous()" [disabled]=disablePrev>
            << </button>
                <button class="btn btn-primary m-5" (click)="next()" [disabled]=disableNext> >> </button>
    </div>
    <div class="col-sm">
    </div>
</div>

<div class="row m-2">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row mt-2" *ngFor="let city of cities">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 float-start">
                            <h2>{{city.name}}</h2>
                        </div>
                        <div class="col-sm-4 float-start">
                        </div>
                        <div class="col-sm-4 float-end">
                            <a (click)="toggelModal(city)"> <img src="assets/images/edit.png" class="float-end" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <img [attr.src]=city.photo />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="Modalcity">Edit City</h2>
                <h5 style="display: none;" id="idValue"></h5>
            </div>
            <div class="modal-body">
                <h3 class="mt-3">Name</h3> <input type="text" class="form-control mt-3" id="cityName" />
                <h3 class="mt-3">Photo Url </h3> <input type="text" class="form-control mt-3" id="cityPhoto" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>