<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm"></div>
    <div class="col-sm">
        <!--start Toast-->
        <div class="col-md-10   list-group h">
            <div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 11">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <!--img src="assets/images/right.jpg" class="rounded me-2" alt="..."-->
                        <strong id="action" class="me-auto">Done </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="toastmessage">

                        Operation is done successfully
                    </div>
                </div>
            </div>
            <!--end Toast-->

        </div>
    </div>
    <router-outlet>
        <ngx-bootstrap-spinner bdColor="rgba(255, 255, 255,1)" size="default" color="#ff1" type="border"
            loaderTemplate="<img src= assets/images/loading.gif>"></ngx-bootstrap-spinner>
    </router-outlet>