<form [formGroup]="formGroup">
    <section class="vh-100" style="background-color: #588ef1;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-3-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h2 class="mb-5">Sign in</h2>

                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                    formControlName="userName" />
                                <label class="form-label" for="typeEmailX-2">user name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                                    formControlName="password" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>


                            <button class="btn btn-primary btn-lg btn-block" type="submit"
                                (click)="authinticat()">Login</button>

                            <hr class="my-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>