/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(138, 174, 241);}
mat-label{

    color: brown;
    font-size: medium;
}
input{

    background-color: white;
}

mat-option{

    background-color: rgb(134, 185, 219);
    color:black;
}