<form class="example-form">
  <mat-form-field class="form-control" appearance="fill">
    <mat-label id="mlabel">City</mat-label>
    <input type="text" id="texter" (bulr)="bulrMe()" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async let i=index" [value]="option" (click)="clicked(option)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>